<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cannon</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <style>
      table {
        border-collapse: collapse;
      }
      td {
        border: 1px solid black;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
      }
      #board {
        margin-top: 20px;
      }
      .info {
        margin: 10px 0;
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Cannon</h1>

    <label>Room name: <input type="text" id="roomInput" /></label>
    <button id="joinBtn">Join Room</button>

    <p id="info"></p>
    <p id="playerColor"></p>
    <p id="playerPlaceSoldatenLeft"></p>
    <table id="board"></table>

    <script>
      const socket = io("http://127.0.0.1:8000", {
        transports: ["polling"],
      });

      let room = "";
      let field = [];
      let players = [];
      let maxSoldiers = 15;
      let player = 0; // 0 = White 1 = Black
      const soldatenWhite = "👇🏻";
      const soldatenBlack = "👆🏿";
      let maxTowns = 1;
      const townWhite = "🏠";
      const townBlack = "🏡";

      const boardEl = document.getElementById("board");
      const infoEl = document.getElementById("info");
      const playerPlaceSoldatenLeft = document.getElementById(
        "playerPlaceSoldatenLeft",
      );

      // Join Room with roomname
      document.getElementById("joinBtn").addEventListener("click", () => {
        const roomInput = document.getElementById("roomInput").value.trim();
        if (!roomInput) return alert("Enter a room name!");
        room = roomInput;
        roomInput.innerHTML = "";
        socket.emit("join_room", { room });
      });

      const letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k"];

      function drawField() {
        boardEl.innerHTML = "";

        // Draw grid rows
        field.forEach((row, i) => {
          const tr = document.createElement("tr");

          // Row number (0–9)
          const label = document.createElement("td");
          label.textContent = i;
          label.style.fontWeight = "bold";
          tr.appendChild(label);

          row.forEach((cell, j) => {
            const td = document.createElement("td");
            td.textContent = cell === 0 ? "" : cell;
            td.addEventListener("click", () => handleCellClick(i, j));
            tr.appendChild(td);
          });

          boardEl.appendChild(tr);
        });

        const footer = document.createElement("tr");
        footer.appendChild(document.createElement("td"));

        letters.forEach((letter) => {
          const td = document.createElement("td");
          td.textContent = letter;
          td.style.fontWeight = "bold";
          footer.appendChild(td);
        });

        boardEl.appendChild(footer);
      }

      function soldiersLeft() {
        if (room == null) return;

        if (maxSoldiers === 0) {
          playerPlaceSoldatenLeft.innerHTML = "Max Soldaten geplaced";
          setTimeout(() => {
            playerPlaceSoldatenLeft.innerHTML = "Now place Town";
          }, 1000);
          return;
        }

        playerPlaceSoldatenLeft.innerHTML = `You have ${maxSoldiers} Soldaten left to place`;
      }

      function placedSameCoord(x, y) {
        //check if town or soldat placed same coordinate
        soldat = player === 0 ? soldatenWhite : soldatenBlack;
        town = player === 0 ? townWhite : townBlack;
        return field[x][y] === soldat || field[x][y] === town;
      }

      function placeSoldaten(x, y) {
        field[x][y] = player === 0 ? soldatenWhite : soldatenBlack;
        --maxSoldiers;
        drawField();
        soldiersLeft();
        socket.emit("place_soldaten", x, y, player, room);
      }

      function placeTown(x, y) {
        //after all soldiers are placed then place town
        if (maxSoldiers === 0 && maxTowns === 1) {
          field[x][y] = player === 0 ? townWhite : townBlack;
          --maxTowns;
          drawField();
          socket.emit("place_town", x, y, player, room);
        } else {
          return;
        }
      }

      function handleCellClick(x, y) {
        if (placedSameCoord(x, y)) {
          return;
        }

        if (maxSoldiers > 0) {
          placeSoldaten(x, y);
        } else {
          placeTown(x, y);
          return;
        }
      }

      // const soldiersCoords = [];
      // const townCoord = [];
      // field.forEach((row, i) => {
      //   row.forEach((cell, j) => {
      //     if (cell === soldatenWhite || cell === soldatenBlack)
      //       soldiersCoords.push([i, j]);
      //     if (cell === townWhite || cell === townBlack) townCoord.push([i, j]);
      //   });
      // });

      socket.on("joined_room", (data) => {
        playerPlaceSoldatenLeft.innerHTML =
          "You have 15 Soldaten left to place";

        field = data.room.field;
        playerColor = data.room.players[data.player];
        player = playerColor;
        players.push(data.room.player);

        infoEl.innerText = `Joined room: ${room}`;
        document.getElementById("playerColor").innerHTML =
          "You are player: " + (player === 0 ? "White" : "Black");
        drawField();
      });

      socket.on("update_field", (newField) => {
        field = newField;
        drawField();
      });

      socket.on("disconnect", (reason) => {
        console.log(reason);
        infoEl.innerText = `${player === 0 ? "White" : "Black"} has left the game`;
      });

      socket.on("connect_error", (err) => {
        console.error("CONNECT ERROR", err);
      });
    </script>
  </body>
</html>
